a {
  text-decoration: none; }

ul {
  margin: 0px;
  padding: 0px;
  list-style: none; }

p, h2, h1 {
  margin: 0px; }

body, html {
  padding: 0px;
  margin: 0px; }

* {
  box-sizing: border-box;
  outline: 0; }

.header-container {
  background-color: #040404;
  background-image: url("../img/slide_school.jpg");
  background-size: cover;
  background-position: center;
  min-height: 700px;
  position: relative;
  margin-bottom: 100px; }
  .header-container * {
    position: relative;
    z-index: 2; }
  .header-container::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5) 70%, #080808, #000);
    z-index: 1; }
  .header-container::after {
    content: "";
    position: absolute;
    bottom: -85px;
    height: 86px;
    left: 0px;
    width: 100%;
    background: url("../svg/header_vector_big.svg");
    background-size: cover;
    background-position: bottom;
    z-index: 0; }
  .header-container .content {
    padding-top: 100px; }
    .header-container .content .logo {
      margin: 0px auto;
      display: block;
      margin-bottom: 50px; }
    .header-container .content h1 {
      color: #FFF;
      text-align: center;
      font-family: "Cairo", sans-serif;
      font-size: 30px;
      font-weight: 700; }
    .header-container .content .btn.main {
      display: block;
      margin: 40px auto;
      max-width: 200px;
      line-height: 55px;
      text-align: center;
      background: #1DA1F2;
      border-radius: 30px;
      color: #FFF;
      font-family: "Cairo", sans-serif;
      font-size: 20px; }
  .header-container .top {
    background: #FFFFFF;
    line-height: 70px;
    position: relative;
    display: flex;
    font-family: "Cairo", sans-serif;
    padding: 0px 20px;
    margin-bottom: 80px; }
    .header-container .top::after {
      content: "";
      position: absolute;
      bottom: -32px;
      left: 0px;
      width: 100%;
      height: 33px;
      background: url("../svg/header_vector.svg");
      background-size: cover;
      background-position: bottom; }
    .header-container .top::before {
      content: "";
      position: absolute;
      bottom: -50px;
      left: 0px;
      width: 100%;
      height: 53px;
      background: url("../svg/header_vector_transparent.svg");
      background-size: cover;
      background-position: bottom; }
    .header-container .top ul {
      flex-shrink: 0; }
      .header-container .top ul li {
        display: inline-block;
        margin-left: 20px; }
        .header-container .top ul li a {
          display: inline-block;
          color: #333333;
          font-size: 16px; }
          .header-container .top ul li a img {
            vertical-align: middle; }
    .header-container .top .number {
      width: 100%;
      color: #333333;
      font-size: 16px;
      text-align: left; }
      .header-container .top .number img {
        vertical-align: middle;
        margin-right: 5px; }

.introduction-container {
  display: flex;
  padding: 20px;
  justify-content: center; }
  .introduction-container .side.flex {
    width: 700px;
    display: flex;
    flex-shrink: 0;
    justify-content: center; }
    .introduction-container .side.flex .item {
      margin: 0px 10px;
      width: 350px;
      height: 350px;
      background-color: #f1f1f1;
      border-radius: 10px;
      background-position: center;
      background-size: cover !important; }
      .introduction-container .side.flex .item p {
        width: 100%;
        margin: 10px auto;
        padding: 20px;
        font-family: "Cairo", sans-serif;
        color: #555555;
        font-size: 13px;
        text-align: center;
        font-weight: 600;
        background: #FFF;
        margin: 0;
        position: relative;
        border-radius: 8px 8px 0 0;
        box-shadow: 0px -5px 20px 0px rgba(0, 0, 0, 0.05); }
        .introduction-container .side.flex .item p::after {
          content: "";
          position: absolute;
          bottom: -47px;
          left: 0px;
          width: 100%;
          height: 48px;
          background: url("../svg/item_vector.svg");
          background-size: cover;
          background-position: bottom;
          z-index: 2; }
        .introduction-container .side.flex .item p::before {
          content: "";
          position: absolute;
          bottom: -60px;
          left: 0px;
          width: 100%;
          height: 48px;
          background: url("../svg/item_vector.svg");
          background-size: cover;
          background-position: bottom;
          z-index: 2;
          opacity: 0.2; }
  .introduction-container .side .intro {
    background: #f9f9f9;
    padding: 30px 50px;
    text-align: center;
    min-height: 350px;
    box-sizing: border-box;
    border-radius: 10px;
    max-width: 600px; }
    .introduction-container .side .intro p {
      margin: 20px auto;
      font-size: 15px;
      color: #333333;
      font-family: "Cairo", sans-serif;
      text-align: justify; }
    .introduction-container .side .intro .social a {
      display: inline-block;
      margin: 0px 5px; }

.article-container {
  display: flex;
  justify-content: center; }
  .article-container .text {
    flex-shrink: 0;
    text-align: center;
    font-family: "Cairo", sans-serif;
    padding: 50px;
    position: relative; }
    .article-container .text * {
      position: relative;
      z-index: 2; }
    .article-container .text h1 {
      color: #7582D5;
      font-size: 50px;
      font-weight: 700;
      background: #FFF; }
    .article-container .text p {
      font-size: 30px;
      color: #555555;
      max-width: 500px;
      background: #FFF; }
    .article-container .text::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0px;
      width: 1px;
      height: calc(100% - 50px);
      border-right: 1px rgba(168, 168, 168, 0.5) dashed;
      transform: translateX(-50%);
      z-index: 1; }
  .article-container .articles-wrapper {
    max-width: 900px;
    padding: 20px; }
    .article-container .articles-wrapper h5 {
      font-size: 20px;
      color: #333333;
      font-family: "Cairo", sans-serif;
      font-weight: 400; }
    .article-container .articles-wrapper .wrapper {
      display: flex;
      flex-wrap: wrap; }
      .article-container .articles-wrapper .wrapper .item {
        width: 250px;
        height: 300px;
        background: #f1f1f1;
        border-radius: 10px;
        margin-left: 10px;
        margin-bottom: 10px; }

.signup-container {
  display: flex; }
  .signup-container .side {
    width: 50%;
    text-align: center;
    font-family: "Cairo", sans-serif;
    padding: 50px; }
    .signup-container .side.whatsapp {
      background: #F9F9F9; }
      .signup-container .side.whatsapp h5 {
        color: #333333;
        font-size: 20px;
        position: relative;
        padding-bottom: 20px;
        font-weight: 400; }
        .signup-container .side.whatsapp h5::after {
          content: "";
          position: absolute;
          left: 50%;
          bottom: 0px;
          transform: translateX(-50%);
          width: 50%;
          height: 1px;
          background: #333;
          opacity: 0.2; }
    .signup-container .side.register {
      background-color: #222;
      background-image: url("../img/slide_school.jpg");
      background-size: cover;
      background-position: center;
      position: relative; }
      .signup-container .side.register * {
        position: relative;
        z-index: 2; }
      .signup-container .side.register::after {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.8; }
      .signup-container .side.register h1 {
        font-size: 50px;
        color: #FFF;
        font-weight: 700; }
      .signup-container .side.register p {
        color: #FFF;
        max-width: 400px;
        margin: 50px auto; }
      .signup-container .side.register form {
        max-width: 300px;
        margin: 0px auto; }
        .signup-container .side.register form input {
          display: block;
          width: 100%;
          line-height: 50px;
          border: 0;
          font-family: "Cairo", sans-serif;
          border-radius: 5px; }
          .signup-container .side.register form input[type="text"] {
            background: #FFFFFF;
            margin-bottom: 10px;
            padding: 0px 20px; }
          .signup-container .side.register form input[type="submit"] {
            background: #7582D5;
            color: #FFF;
            font-size: 20px;
            cursor: pointer; }

/*# sourceMappingURL=main.css.map */
